/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  #main {
    margin-top: 0;
    background-color: inherit;
    padding: 0;
    border: none;
    border-radius: 0px;
  }

  .container.body {
    margin: 0;
    width: 100%;
  }

  .picture {
    margin: 0 0 20px 0;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
  }

  .container {
    width: 322px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }

  .navbar .brand {
    display: none;
  }

  .image-upload, .home {
    margin-top: 5px;
  }

  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 612px;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }
  .image-upload, .home {
    margin-top: 5px;
  }
  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 906px;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }
  .image-upload, .home {
    margin-top: 5px;
  }
  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}
