/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 322px;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }

  .navbar .brand {
    display: none;
  }

  .image-upload, .home {
    margin-top: 5px;
  }

  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 612px;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }
  .image-upload, .home {
    margin-top: 5px;
  }
  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 906px;
  }
  .navbar .nav.pull-right {
    float: right;
  }
  .navbar .nav > li {
    float: left;
    display: block;
  }
  .image-upload, .home {
    margin-top: 5px;
  }
  .navbar .nav li a.logout-link {
    margin-top: 0;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}
