body {
  background-color: #97CCEE;
}

[class^='facebook-'] {
  background-image: url("/img/facebook_sprite.png");
}

.facebook-login {
  background-position: -48px -7px;
  height: 22px;
  width: 150px;
  display: inline-block;
}

.modal {
  display: none;
}

.btn {
  margin: 0px 2px;
}

.btn-primary {
  margin: 0px 2px;
}

.image {
  width: 100%;
}

.upload-image-preview {
  display: none;
  width: 270px;
  border: 1px solid #CCC;
  margin: 10px auto;
  padding: 10px;
}

.upload-image-preview img{
  width: 100%;
}

.image-link-container {
  width: 95%;
  margin: 5px auto 15px auto;
}

.image-caption {
  font-size: 13px;
  margin-bottom: 5px;
  color: #3D1C00;
}

.image-caption a {
  color: #182945;
}

.thumbnail img.poster-image {
  display: inline-block;
  margin-left: 7px;
  float: left;
  width: 35px;
}

.poster-comment {
  float: left;
  margin-left: 8px;
  width: 214px;
}

.poster-comment .poster-name {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
  color: #182945;
}

.timestamp {
  color: #A5B3AA;
  font-size: 11px;
  padding: 0 10px 5px 0;
  float: right;
}

.picture {
  border: 1px solid #CFCFD6;
  margin: 9px 9px;
  background-color: white;
}

.picture:hover{
  border-color: #182945;
}

.container {
 width: 1240px;
} 

#main {
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #FBF6CE;
  padding: 20px;
  border: 2px solid #182945;
  border-radius: 20px;
}

.navbar-inner {
  background-image: -webkit-linear-gradient(top, #182945, #15243D); 
  background-image: -moz-linear-gradient(top, #182945, #15243D); 
  background-image: -o-linear-gradient(top, #182945, #15243D);
  background-image: linear-gradient(top, #182945, #15243D);
  background-repeat: repeat-x;
}

.navbar .nav.nav-links li {
  opacity: 0.6;
}

.navbar .nav.nav-links li:hover {
  opacity: 1;
}

.navbar .nav li a{ 
  display: inline-block;
  color: white;
}

.logged-in-user {
  font-weight: bold;
}

.navbar .nav li a.logout-link {
  padding: 0;
  margin-top: 8px;
}

.hero-unit.footer {
  background-image: -webkit-linear-gradient(top, #182945, #15243D); 
  background-image: -moz-linear-gradient(top, #182945, #15243D); 
  background-image: -o-linear-gradient(top, #182945, #15243D);
  background-image: linear-gradient(top, #182945, #15243D);
  background-repeat: repeat-x;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.hero-unit.footer p {
  display: inline-block;
  color: white;
  margin: 0 10px;
}

.logged-in-user-image {
  height: 25px;
  margin-right: 5px;
}

/* ribbon style */
.ribbon-wrapper {
  display: none;
  position: relative;
  margin-bottom: 10px;
  border-top: px solid #ccc;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}

.ribbon-front {
  background-color: #A1C436;
  height: 50px;
  color: #FFF;
  font-weight: bold;
  padding: 5px 40px;
  width: 440px;
  position: relative;
  left:-30px;
  z-index: 2;
}

.ribbon-front img {
  margin: 3px 20px 0 0;
  width: 40px;
  border: 2px solid #FBF6CE;
}

.ribbon-front span{
  font-size: 30px;
  line-height: 40px;
  vertical-align: middle;
}
.ribbon-front,
.ribbon-back-left,
.ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 60px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
  left: -30px;
  border-color: transparent #90AF30 transparent transparent;
}

.ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 10px 0 0;
}
.ribbon-edge-bottomleft {
  border-width: 0 10px 10px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 400px;
  border-color: transparent transparent transparent #90AF30;
}

.ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
.ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

.ribbon-back-left {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 30px;
  height: 60px;
  background-color: #A1C436;	z-index: 0;
}

.ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 60px;
  z-index: 0;
}
